<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user/addressStyle.css">
    <script src="/js/addAddress.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Address</h1>
    <div class="main-address-panel">
        <% for(let i = 0; i < data.address.length; i++) { %>
            <div class="address1">
                <div class="adPart1">
                    <% if(type === 'checkout') { %>
                        <form action="/<%= user %>/cart" method="post">
                            <input style="margin-left: 2em;" type="radio"
                             name="option" value="<%= data.address[i].address %>">
                            <label for="">Address1</label>
                            <p>
                                <%= data.address[i].address %>
                            </p>
                            <button class="popup" onclick="action()">Add</button>
                        </form>
                    <% } else { %>
                        <label for="">Address1</label>
                        <p>
                            <%= data.address[i].address %>
                        </p>
                        <button class="popup" onclick="action()">Edit</button>
                    <% } %>
                </div>
            </div>
        <% } %>
        <div class="ad-bottom">
            <button class="addAddressBtn" onclick="action()">Add Address</button>
        </div>
    </div>
    <div class="add-address">
        <h1>New Address</h1>
        <button class="close-form" onclick="closeBar()">X</button>
        <form action="/<%= user %>/address/add_address" method="post">
            <input placeholder="first name" name="firstname" type="text">
            <input placeholder="last name" name="lastname" type="text">
            <input placeholder="email address" name="email" type="text">
            <input placeholder="telephone" name="phone" type="text">
            <input placeholder="address" name="address" type="text">
            <input placeholder="town" name="town" type="text">
            <input placeholder="region/state" name="state" type="text">
            <input placeholder="zip/postal code" name="zip" type="text">

            <button class="submit-form" onclick="closeBar()">Submit</button>
        </form>
    </div>
</body>
</html>
