<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user/addressStyle.css">
    <script src="/js/addAddress.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Address</h1>
    <div class="main-address-panel">
        <% if(data.address.length > 0) { %>
            <% for(let i = 0; i < data.address.length; i++) { %>
                <div class="address1">
                    <div class="adPart1">
                        <% if(type === 'checkout') { %>
                            <form action="/<%= user %>/cart" method="post">
                                <input style="margin-left: 2em;" type="radio"
                                    name="option" value="<%= data.address[i].address %>">
                                <label for="">Address <%= i + 1%></label>
                                <p>
                                    <%= data.address[i].address %>
                                </p>
                                <button class="popup" onclick="action('')">Add</button>
                            </form>
                        <% } else { %>
                            <div style=" display: flex; justify-content: space-between; width: 33vw;" class="address-title">
                                <label for="">Address <%= i + 1%></label>
                                <a href="/<%= user %>/address/delete_address?pos=<%= data.address[i].zip %>">
                                    <img style="width: 1.3em;" src="/img/icons/icons8-delete-120.png" alt="">
                                </a>
                            </div>
                            <p>
                                <%= data.address[i].address %>
                            </p>
                            <a class="popup" href="/<%= user %>/address/edit_address?data=<%= data.address[i].firstname %>">Edit</a>
                        <% } %>
                    </div>
                </div>
            <% } %>
        <% } else { %>
            <h1 style="text-align: center;">No items</h1>
        <% } %>
        <div class="ad-bottom">
            <button class="addAddressBtn" onclick="action()">Add Address</button>
        </div>
    </div>
    <div class="add-address">
        <h1>New Address</h1>
        <button class="close-form" onclick="closeBar()">X</button>
        <form class="edit_add_form" action="/<%= user %>/address/add_address" method="post">
                <% for(let i in form) { %>
                    <input name="<%= i %>" placeholder="<%= i %>" type="text">
                <% } %>
            <button class="submit-form" onclick="closeBar()">Submit</button>
        </form>
    </div>
</body>
</html>