<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user/orderStyle.css">
    <script defer src="/js/viewOrder.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Your Orders</h1>

    <div class="main-order-panel">
        <% if(cart.length > 0) { %>
            <% for(let i of cart) { %>
                <div id="view-order">
                    <% for(let j of i.details) { %>
                        <div class="prod1">
                            <div class="prod-pic">
                                <img src="/img/<%= j.img %>" alt="">
                            </div>
                            <div class="prod-contents">
                                <label for=""><%= j.name %></label>
                                <!-- <label for=""><%= i.price %></label> -->
                            </div>
                            <a href="">close</a>
                        </div>
                    <% } %>
                </div>
                <div class="order1">
                    <div class="order-details">
                        <div class="od-con order-id">
                            <label class="od-title" for="">order id</label>
                            <label class="od-content" for=""><%= i.orderid %></label>
                        </div>
                        <div class="od-con order-date">
                            <label class="od-title" for="">date purchased</label>
                            <label class="od-content" for=""><%= i.purchase %></label>
                        </div>
                        <div class="od-con arrive-date">
                            <label class="od-title" for="">date arriving</label>
                            <label class="od-content" for=""><%= i.arriving %></label>
                        </div>
                        <a class="m-ord" href="/<%= user %>/orders/remove_order?id=<%= i %>">Cancel Order</a>
                        <button onclick="vieworder()">View Order</button>
                    </div>
                    <div class="process-bar">
                        <div class="process-graph">
                            <div class="pending">
                                <img src="/img/icons/pngfind.com-check-mark-symbol-png-2546448.png" alt="" srcset="">
                            </div>
                            <div class="processing"></div>
                            <div class="shipped"></div>
                        </div>
                    </div>
                    <div class="total-products">
                        <% for(let j of i.details) { %>
                            <div class="prod1">
                                <div class="prod-pic">
                                    <img src="/img/<%= j.img %>" alt="">
                                </div>
                                <div class="prod-contents">
                                    <label for=""><%= j.name %></label>
                                    <!-- <label for=""><%= i.price %></label> -->
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% } %>
        <% } else { %>
            <h1>No items</h1>
        <% } %>
    </div>
</body>
</html>
