<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user/userProfile.css">
    <title>Document</title>
</head>
<body>
    <h1>Profile</h1>
    <form action="/<%= data.name %>/profile" method="post">
        <div class="profile-contents">
            <% if(content === 'edit') { %>
                <div class="content1">
                    <label for="">name</label>
                    <input type="text" value="<%= data.name %>" name="name">
                </div>
                <div class="content1">
                    <label for="">email</label>
                    <input type="text" value="<%= data.email %>" name="email">
                </div>
                <div class="content1">
                    <label for="">phone</label>
                    <input type="text" value="<%= data.phone %>" name="phone">
                </div>
                <div class="content1">
                    <label for="">postal code</label>
                    <input type="text" value="<%= data.address[0] ? data.address[0].zip : 'none' %>" name="postal">
                </div>
                <div class="content1">
                    <label for="">location</label>
                    <input type="text" value="<%= data.address[0] ? data.address[0].town : 'none' %>" name="city">
                </div>
                <div class="content1">
                    <label for="">name</label>
                    <input type="text" value="<%= data.address[0] ? data.address[0].region : 'none' %>" name="country">
                </div>
                <button class="profile-edit-btn">Save</button>
            <% } else { %>
                <div class="content1">
                    <label for="">name</label>
                    <label for="" class="label"><%= data.name %></label>
                </div>
                <div class="content1">
                    <label for="">email</label>
                    <label for="" class="label"><%= data.email %></label>
                </div>
                <div class="content1">
                    <label for="">phone</label>
                    <label for="" class="label"><%= data.phone%></label>
                </div>
                <div class="content1">
                    <label for="">postal code</label>
                    <label for="" class="label"><%= data.address[0] ? data.address[0].zip : 'none' %></label>
                </div>
                <div class="content1">
                    <label for="">town</label>
                    <label for="" class="label"><%= data.address[0] ? data.address[0].town : 'none' %></label>
                </div>
                <div class="content1">
                    <label for="">region</label>
                    <label for="" class="label"><%= data.address[0] ? data.address[0].region : 'none' %></label>
                </div>
            <% } %>
        </div>
    </form>
    <% if(content === 'edit') { %>
        
    <% } else { %>
        <a class="profile-edit-btn-2" href="<%= '/' + data.name + '/profile?type=edit' %>">Edit</a>
    <% } %>
</body>
</html>
