<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/couponStyle.css">
    <title>Document</title>
</head>
<body>
    <div class="coupons-list">
        <% for(let i of data) { %>
            <div class="coupons">
                <div style="background: <%= i.color %>" class="coupon1 first">
                    <label class="coupon-details" for=""><%= i.name %></label>
                    <label class="offer coupon-details" for="">
                        <% if(i.value[0] === 'amount') { %>
                            <%= i.value[1] + ' $ OFF' %>
                            <% } else if(i.value[0] === 'percentage') { %>
                                <%= i.value[1] + ' % OFF' %>
                        <% } %>
                    </label>
                    <label class="type coupon-details" for="">Any <%= i.type %></label>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>
