<!DOCTYPE html>
<html lang="en">

<head>
    <title>Zay Shop - Product Detail Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/file4/img/favicon.ico">

    <link rel="stylesheet" href="/file4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/file4/css/templatemo.css">
    <link rel="stylesheet" href="/file4/css/custom.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" 
  integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="file4/css/fontawesome.min.css">

    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="/file4/css/slick.min.css">
    <link rel="stylesheet" type="text/css" href="/file4/css/slick-theme.css">
</head>

<body>
    
    <%- include('../../layouts/header.ejs') %>
    
    <section class="bg-light">
        <div class="container pb-2">
            <div class="row">
                <div class="col-lg-5 mt-0">
                    <div class="card mb-3" style="background: none; border: none;">
                        <img style="height: 28em; width: 28em;" class="first_img card-img img-fluid" src="/img/<%= data.image[0]%>" alt="Card image cap" id="product-detail">
                    </div>
                    <div class="row">
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                            <!--Start Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <% if(data.image.length > 1) { %>
                                            <% for(let i = 1; i < data.image.length; i++) { %>
                                                <div class="col-4">
                                                    <button style="border: none; background: none;" onclick="replace('<%= data.image[0] %>', '<%= data.image[i] %>')">
                                                        <img class="second_img card-img img-fluid" src="/img/<%= data.image[i] %>" alt="Product Image 1">
                                                    </button>
                                                </div>
                                            <% } %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <!--End Slides-->
                        </div>
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-0">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2"><%= data.name%></h1>
                            <p class="h3 py-2">$<%= data.price%></p>
                            <% if(data.stock <= 0) { %>
                                <p style="color: red;" class="h4">out of stock</p>
                            <% } %>
                            <p class="py-2">
                                <% if(isNaN(avg)) { %>
                                    <% for(let a = 1; a < 5; a++) { %>
                                        <i class="fa fa-star text-secondary"></i>
                                    <% } %>
                                <% } else { %>
                                    <% for(let n = 1; n <= avg; n++) { %>
                                        <i class="fa fa-star text-warning"></i>
                                    <% } %>
                                    <% for(let a = avg; a < 5; a++) { %>
                                        <i class="fa fa-star text-secondary"></i>
                                    <% } %>
                                <% } %>
                                <span class="list-inline-item text-dark">Rating <%= isNaN(avg) ? 0 : avg  %></span>
                            </p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Category:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong><%= data.category %></strong></p>
                                </li>
                            </ul>

                            <h6>Description:</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temp incididunt ut labore et dolore magna aliqua. 
                                Quis ipsum suspendisse. Donec condimentum elementum convallis. Nunc sed orci a diam ultrices aliquet interdum quis nulla.
                            </p>
                            <!-- <form action="" method="GET"> -->
                                <input type="hidden" name="product-title" value="Activewear">
                                <!-- <div class="row">
                                    <div class="col-auto">
                                        <ul class="list-inline pb-3"> 
                                            <li class="list-inline-item text-right">
                                                Quantity
                                                <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                                            </li>
                                            <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
                                            <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">1</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
                                        </ul>
                                    </div>
                                </div> -->
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <% if(data.stock <= 0) { %>
                                            <button disabled type="submit" class="btn btn-success btn-lg" name="submit" value="buy">Buy</button>
                                        <% } else { %>
                                            <button type="submit" class="btn btn-success btn-lg" name="submit" value="buy">Buy</button>
                                        <% } %>
                                    </div>
                                    <div class="col d-grid">
                                        <% if(incart) { %>
                                            <% if(data.stock <= 0) { %>
                                                <a type="submit" class="btn btn-success btn-lg bg-danger bg-border-danger" 
                                                name="submit" value="addtocard"
                                                href="<%= '/' + user + '/cart/remove?name='%><%= data.name%>&from=item">
                                                Remove From Cart
                                                </a>
                                            <% } else { %>
                                                <a type="submit" class="btn btn-success btn-lg bg-danger bg-border-danger" 
                                                    name="submit" value="addtocard"
                                                    href="<%= '/' + user + '/cart/remove?name='%><%= data.name%>&from=item">
                                                    Remove From Cart
                                                </a>
                                            <% } %>
                                        <% } else { %>
                                            <% if(data.stock <= 0) { %>
                                                <a type="submit" style="background-color: gray;" class="btn btn-lg"
                                                        name="submit" value="removeFromCart">
                                                    Add To Cart
                                                </a>
                                            <% } else { %>
                                                <a type="submit" class="btn btn-success btn-lg"
                                                        name="submit" value="removeFromCart"
                                                        href="<%= '/' + user + '/cart/addtocart?name='%><%= data.name%>&from=item">
                                                    Add To Cart
                                                </a>
                                            <% } %>
                                        <% } %>
                                    </div>
                                </div>
                            <!-- </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<%- include('./review.ejs') %>
<!------ Include the above in your HEAD tag ---------->

    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Zay Shop</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            123 Consectetur at ligula 10660
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Luxury</a></li>
                        <li><a class="text-decoration-none" href="#">Sport Wear</a></li>
                        <li><a class="text-decoration-none" href="#">Men's Shoes</a></li>
                        <li><a class="text-decoration-none" href="#">Women's Shoes</a></li>
                        <li><a class="text-decoration-none" href="#">Popular Dress</a></li>
                        <li><a class="text-decoration-none" href="#">Gym Accessories</a></li>
                        <li><a class="text-decoration-none" href="#">Sport Shoes</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Home</a></li>
                        <li><a class="text-decoration-none" href="#">About Us</a></li>
                        <li><a class="text-decoration-none" href="#">Shop Locations</a></li>
                        <li><a class="text-decoration-none" href="#">FAQs</a></li>
                        <li><a class="text-decoration-none" href="#">Contact</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="subscribeEmail">Email address</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
                        <div class="input-group-text btn-success text-light">Subscribe</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2021 Company Name 
                            | Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="file4/js/jquery-1.11.0.min.js"></script>
    <script src="file4/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="file4/js/bootstrap.bundle.min.js"></script>
    <script src="file4/js/templatemo.js"></script>
    <script src="file4/js/custom.js"></script>
    <!-- End Script -->

    <!-- Start Slider Script -->
    <script src="/file4/js/slick.min.js"></script>
    <script>
        $('#carousel-related-product').slick({
            infinite: true,
            arrows: false,
            slidesToShow: 4,
            slidesToScroll: 3,
            dots: true,
            responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                }
            ]
        });
    </script>
    <!-- End Slider Script -->
    <script>
        let val = false
        function replace(img1, img2) {
            const f_img = document.getElementsByClassName('first_img')[0]
            const s_img = document.getElementsByClassName('second_img')[0]
            
            val ? val = false: val = true
            
            if(val) {
                f_img.setAttribute('src', '/img/' + img1)
                s_img.setAttribute('src', '/img/' + img2)
            } else {
                f_img.setAttribute('src', '/img/' + img2)
                s_img.setAttribute('src', '/img/' + img1)
            }

            console.log(val)
        }
    </script>

</body>

</html>