<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/productStyle.css">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <body>
    <title>Document</title>
</head>
<body>
    <div class="full-prod">
        <% if(page !== 'seperate') { %>
            <div class="types">
                <a href="">monitors</a>
                <a href="">monitors</a>
                <a href="">monitors</a>
                <a href="">monitors</a>
                <a href="">monitors</a>
            </div>
        <% } %>
        <div class="products">
            <% for(let i in data) { %>
                <% if(data[i].length !== 0) { %>
                    <div class="session-1">
                        <% for(let j of data[i]) { %>
                            <div class="pro">
                                <a href="/<%= user + '/' + j['name']%>" class="prod-content">
                                    <img class="pro-img"
                                    src="/img/<%= j['image'][0] %>" alt="no img found">
                                    <label class="name"><%= j['name'] %></label>
                                    <label class="pr"><%= '$' + j['price'] %></label>
                                    <div class="show-details">
                                        <label for="">show details</label>
                                    </div>
                                </a>
                            </div>
                        <% } %>
                    </div>
                <% } %>
            <% } %>
        </div>
        <div>
            <form action="/<%= user + '/list'%>" method="post">
                <button class="show-more">Show More</button>
            </form>
        </div>
    </div>
</body>
</html>