<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/addproductStyle.css">
    <title>add category</title>
</head>
<body>
    <h1><%= type%> Product</h1>
    <% let action = '' %>
    <% if(type === 'edit') { %>
      <% variable = contents.id %>
      <% action = '/admin/modifyproduct?id=' + variable %>
    <% } else { %>
      <% action = '/admin/authproduct' %>
    <% } %>
    <form action="<%= action %>" method="post" enctype="multipart/form-data">
        <div class="addproduct-main">
            <div class="image-field">
                <div class="main-img">
                    <button class="btn">upload imgs</button>
                    <input type="file" name="image" multiple>
                </div>
                <!-- <div class="button-container">
                    <div class="upload-btn-wrapper">
                      <button class="btn upload-btn">Upload 1</button>
                      <input type="file" name="myfile1" id="myfile1" />
                    </div>
                    <div class="upload-btn-wrapper">
                      <button class="btn upload-btn">Upload 2</button>
                      <input type="file" name="myfile2" id="myfile2" />
                    </div>
                    <div class="upload-btn-wrapper">
                      <button class="btn upload-btn">Upload 3</button>
                      <input type="file" name="myfile3" id="myfile3" />
                    </div>
                    <div class="upload-btn-wrapper">
                      <button class="btn upload-btn">Upload 4</button>
                      <input type="file" name="myfile4" id="myfile4" />
                    </div>
                  </div> -->
            </div>
            <% if(type === 'edit') { %>
              <input type="text" name="pname" value="<%= contents.name %>" placeholder="Product name">
            <% } else { %>
                <input type="text" name="pname" placeholder="Product name">
            <% } %>
            <!-- <input type="text" name="pcat" placeholder="Product category"> -->
            <select name="pcat">
              <% for(let i = 0; i < data.length; i++) { %>
                <% let name = data[i].name %> 
                <option value="<%= name %>"><%= name %></option>
              <% } %>
            </select>
            <% if(type === 'edit') { %>
              <input type="text" name="pprice" value="<%= contents.price %>">
              <input type="text" name="pstock" value="<%= contents.stock %>"">
              <input class="desc" type="text" value="<%= contents.description %>" name="pdesc">
            <% } else { %>            
              <input type="text" name="pprice" placeholder="Product price">
              <input type="text" name="pstock" placeholder="Stock">
              <input class="desc" type="text" name="pdesc" placeholder="Description">
            <% } %>
            <div class="btns">
                <form action="">
                    <button>Create</button>
                    <button>Cancel</button>
                </form>
            </div>
        </div>
    </form>
</body>
</html>