<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets2/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets2/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <link rel="stylesheet" href="/assets2/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/assets2/images/favicon.ico" />
  </head>
  <body>
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body" style="width: 82vw; margin-top: 1em;">
            <h4 class="card-title">Orders</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th> Id </th>
                  <th> User name </th>
                  <th> Status </th>
                  <th> Amount </th>
                  <th> Date </th>
                  <th> Payment </th>
                  <th> Update </th>
                </tr>
              </thead>
              <tbody>
                <% for(let i of data) { %>
                  <tr>
                    <td class="py-1">
                      <%= i.orderid %>
                    </td>
                    <td>
                      <!-- <img src="../../assets/images/faces-clipart/pic-1.png" /> -->
                       <%= i.user %> 
                      </td>
                    <td style="width: 15em;">
                      <div class="progress">
                        <% if(i.status === 'pending') { %>
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        <% } else if(i.status === 'processing') { %>
                          <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        <% } else if(i.status === 'delivered') { %>
                          <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        <% } else { %>
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        <% } %>
                      </div>
                    </td>
                    <td> $ <%= i.price %> </td>
                    <td> May 15, 2015 </td>
                    <td> <%= i.payment %> </td>
                    <td style="display: flex; flex-direction: row;">
                      <form action="/admin/orders/edit_order" method="post">
                        <input style="display: none;" name="status" value="<%= i.status %>" type="text">
                        <input style="display: none;" name="orderid" value="<%= i.orderid %>" type="text">
                        <button>
                          Update
                        </button>
                      </form>
                      <form action="/admin/orders/cancel_order" method="post">
                        <input style="display: none;" name="status" value="cancel" type="text">
                        <input style="display: none;" name="orderid" value="<%= i.orderid %>" type="text">
                        <button>
                          Cancel
                        </button>
                      </form>
                    </td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/assets2/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/assets2/js/off-canvas.js"></script>
    <script src="/assets2/js/hoverable-collapse.js"></script>
    <script src="/assets2/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  </body>
</html>