<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/productStyle.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->
    <script defer src="/js/deleteProduct.js"></script>
    <title>products</title>
</head>
<body>
    <div class="main-products">
        <h1>Product inventory</h1>
        <div class="edits-titles">
            <div class="all-info">
                <div class="total">
                    <label class="tl">total products</label>
                    
                </div>
                <div class="stock">
                    <label class="tl">out of stock</label>
                    <label class="ct">3</label>
                </div>
                <div class="cat">
                    <label class="tl">catagories</label>
                    
                </div>
            </div>
            <div class="edit-options">
                <a href="/admin/addproduct">add product</a>
                <!-- <input type="checkbox" value="select" name="check" id="cBox"> -->
                <!-- <button type="submit">delete product</button> -->
            </div>
        </div>
        <form method="post" action="/admin/products/traverse" class="search-and-filter">
            <div class="cat-main">
                <label for="">Category</label>
                <select name="category">
                    <% for(let i of category) { %>
                        <option value="<%= i.name %>"><%= i.name %></option>
                    <% } %>
                </select>
            </div>
            <div class="price-main">
                <label for="">Sort</label>
                <!-- <input type="submit"> -->
                <select name="sort">
                    <option value="ascending">Ascending</option>
                    <option value="desending">Desending</option>
                </select>
            </div>
            <div class="search-main">
                <input name="searchbar" type="search">
                <button>Enter</button>
            </div>
            <div class="sort-main">
                <label for="">Filter</label>
                <!-- <input type="submit"> -->
                <select name="filter">
                    <option value="all">All</option>
                    <option value="name">Name</option>
                    <option value="date">Date</option>
                    <option value="price">Price</option>
                    <option value="stock">Inventory</option>
                </select>
            </div>
        </form>
        <div class="users-list-main">
            <div class="users-list-title">
                <label>Product name</label>
                <label>Category</label>
                <label>Price</label>
                <label>Inventory</label>
                <label>Status</label>
                <label>Date-Added</la   bel>
                </div>
                <form action="/admin/deleteproduct" method="post">
                    <button class="delete" type="submit">delete product</button>
                    <% for(let i = 0; i < data.length; i++) { %>
                        <a class="users-list-content" href="/admin/editproduct?prod=<%= data[i].name%>">
                            <input type="checkbox" value="<%= data[i].name %>" name="check" id="cBox">
                            <label class="p-name"><%= data[i].name %></label>
                            <label class="p-cat"><%= data[i].category %></label>
                            <label class="p-price"><%= '$' + data[i].price %></label>
                            <label><%= data[i].stock %></label>
                            <label class="p-stat"><%= data[i].status %></label>
                            <label><%= data[i].date %></label>
                        </a>
                        <% } %>
                    </form>
                    <div class="nav">
                        <a href="/admin/products/traverse?trav=prev"><</a>
                        <label class="left" for="">0</label>
                        <label class="middle" for="">1</label>
                        <label class="right" for="">2</label>
                        <a href="/admin/products/traverse?trav=next">></a>
                    </div>
                </div>
            </div>
        </body>
        <!-- <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script> -->
</html>